<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Aluno</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
    <div th:replace="fragments/cabecalhoAdm :: cabecalhoAdm"></div>
    <div id="formulário" class="container mt-auto">
        <h1>Cadastro de alunos</h1>
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${mensagemAlunoSalvo}">
            <span th:text="${mensagemAlunoSalvo}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="#" th:action="@{/administrador/salvarAluno}" th:object="${cadAluno}" method="post">
            <div class="row">
                <div class="form-group col" id="coluna-esquerda">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome completo do estudante" th:field="*{nome}">
                    <span class="mensagem" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>

                    <label for="CPF">CPF</label>
                    <input type="number" class="form-control" id="CPF" placeholder="CPF do estudante" th:field="*{cpf}">
                    <span class="mensagem" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>


                    <label for="RG">RG</label>
                    <input type="number" class="form-control" id="RG" placeholder="Rg do estudante" th:field="*{rg}">
                    <span class="mensagem" th:if="${#fields.hasErrors('rg')}" th:errors="*{rg}"></span>

                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email do estudante" th:field="*{email}">
                    <span class="mensagem" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

                    <label for="perfil">Perfil</label>
                    <select class="custom-select" id="perfil" th:field="*{perfil}">
                        <option th:each="perfil : ${ListaPerfil}"
                                th:value="${perfil}"
                                th:text="${ListaPerfil}"
                        >
                        </option>
                    </select>

                    <label for="telefone">Telefone</label>
                    <input type="tel" class="form-control" id="telefone" placeholder="Telefone do estudante" th:field="*{telefone}">
                    <span class="mensagem" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></span>
                </div>
                <div class="form-group col" id="coluna-direita">
                    <label for="endereço">Endereço</label>
                    <input type="text" class="form-control" id="endereço" placeholder="Endereço do estudante" th:field="*{endereco}">
                    <span class="mensagem" th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"></span>


                    <label for="Turma">Turma</label>
                    <select id="Turma" th:field="*{turmas}"></select>

                    <label for="Senha">Senha</label>
                    <input type="text" class="form-control" id="Senha" placeholder="Senha de cadastro" th:field="*{senha}">


                    <label for="data-nasc">Data de nascimento</label>
                    <input type="date" class="form-control" id="data-nasc" placeholder="Daya de nascimento do estudante" th:field="*{data_nascimento}">
                    <span class="mensagem" th:if="${#fields.hasErrors('data_nascimento')}" th:errors="*{data_nascimento}"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>