<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2023 Escola Senai "Antônio Ermírio de Moraes"</p>

    <a href="#" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img th:src="@{/img/logo.svg}" alt="Logo" width="150" />
        <p class="col-md-4 mb-0 text-muted">© Intelect"</p>
    </a>
</footer>
</body>
</html>